.hero-section {
  display: grid;
}

.hero-left-column {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 0.8rem;
  margin-bottom: 4rem;
}

.hero-intro,
.hero-desc {
  text-align: center;
}

.hero-intro {
  align-self: self-end;
}

.hero-up-title {
  color: var(--primary-color-300);
  font-size: 2rem;
  margin: 0.2rem;
}

.hero-title {
  font-size: 3rem;
  margin: 0.2rem;
}

.hero-stroke-text {
  color: var(--primary-black);
  -webkit-text-stroke: 1.5px white;
  text-shadow: 0 0 2px white, 0 0 4px white;
}

.hero-info {
  margin: 0.4rem;
  color: var(--primary-color-400);
}

.hero-btn-container {
  text-align: center;
}

.btn.btn-hero {
  color: var(--primary-white);
  border-radius: 2rem;
  padding: 0.5rem 0.75rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--neon-purple);
}

.btn.btn-hero-resume {
  border: 1px solid var(--neon-purple);
  background-color: #a24cf2;
}

.resume-download-icon {
  margin-left: 0.3rem;
  font-size: 0.75rem;
}

.btn.btn-hero-contact:hover {
  background-color: #a24cf2;
}

.btn.btn-hero-resume:hover {
  background-color: var(--neon-pink);
  border: 1px solid var(--neon-pink);
}

.hero-desc {
  font-size: 1.2rem;
  align-self: center;
}

.typewriter-text {
  color: #a24cf2;
}

.hero-right-column {
  display: none;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 4rem;
}

.hero-img {
  border-radius: 50%;
  width: 100%;
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    grid-template-columns: 2fr 1fr;
  }

  .hero-right-column {
    display: block;
  }

  .hero-intro,
  .hero-desc {
    justify-self: unset;
    text-align: unset;
  }

  .hero-desc {
    justify-self: flex-start;
  }

  .hero-title {
    font-size: 5rem;
  }

  .hero-btn-container {
    text-align: unset;
  }
}
