.skills-container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(3, auto);
  gap: 1.5rem;
  place-items: center;
}

.skill-icon {
  font-size: 3rem;
  border: 1px solid var(--primary-white);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.skill-icon:hover {
  border: 1px solid var(--neon-purple);
  color: var(--neon-purple);
  text-shadow: var(--shadow-neon-purple);
  box-shadow: var(--shadow-neon-purple);
}

@media screen and (min-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(6, auto);
  }
}
