/* Header Section  */
header {
  background-color: var(--primary-black);
  color: var(--primary-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-center {
  padding: 0.25rem 1rem;
  display: flex;
  flex-direction: column;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-black);
}

.nav-logo {
  width: 100px;
}

.nav-toggle-button {
  background: transparent;
  color: var(--primary-white);
  outline: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-toggle-button:hover {
  color: var(--primary-color-600);
}

.nav-links-container {
  background-color: var(--primary-black);
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--transition) ease-in-out;
}

.nav-show-container {
  max-height: 400px;
}

.nav-links {
  list-style-type: none;
}

.nav-link {
  padding: 0 2rem;
  cursor: pointer;
  transition: var(--transition);
}

.nav-link:hover {
  padding-left: 3rem;
  background-color: var(--primary-color-900);
}

.nav-link:last-child:hover {
  padding-left: 2rem;
  cursor: default;
  background-color: transparent;
}

.nav-link a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.btn.nav-btn-resume {
  background-color: var(--neon-purple);
  border-radius: var(--border-radius);
}

.nav-btn-resume:hover {
  background-color: var(--neon-pink);
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  .nav-toggle-button {
    display: none;
  }

  .nav-center {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links-container {
    display: flex !important;
    max-height: none;
    overflow: visible;
  }

  .nav-links {
    display: flex;
    gap: 1.2rem;
    align-items: center;
  }

  .nav-link {
    padding: unset;
    border-radius: var(--border-radius);
  }

  .nav-link a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
  }

  .nav-link:hover {
    padding: unset;
  }

  .nav-link:last-child:hover {
    padding: unset;
  }
}
