/* projects section */
.projects {
  padding: 5rem 0;
}

.projects-center {
  width: 90vw; /* var(--view-width) */
  max-width: 1120px; /* var(--max-width) */
  margin: 3rem auto 0 auto;
  display: grid;
  gap: 2rem;
}

.project {
  background: #fff; /* var(--white) */
  display: block;
  border-radius: 0.25rem; /* var(--borderRadius) */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06); /* var(--shadow-2) */
  transition: 0.3s ease-in-out all; /* var(--transition) */
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04); /* var(--shadow-4) */
}

.project .img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 15rem;
  border-top-right-radius: 0.25rem; /* var(--borderRadius) */
  border-top-left-radius: 0.25rem; /* var(--borderRadius) */
}

@media (min-width: 768px) {
  .projects-center {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .projects-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* 

.home-projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.project-card {
  position: relative;
}

.project-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
}

.project-card:hover .project-card-img {
  transform: scale(1.1);
}

.card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.project-card:hover .card-info {
  opacity: 1;
} */
